<!--
    https://getbootstrap.com/docs/4.0/components/card/
    Propiedades de la caja con colores 
    border-success 
border-danger
border-warning
border-info
border-light
border-dark
-->


<div class="row">
    <div class="col-sm-4" *ngFor="let recipient of tarjetasDelServicioMulti">

        <!-- <ng-container *ngIf="recipient[0] == '1'">            -->
        <div  class="card border-info mb-3" style="max-width: 18rem;">       
            <!-- <div class="card-header"><i class="fa fa-tags icon"></i><p class="card-header-txt">{{recipient[1]}}</p></div> -->
            <!-- <div class="card-header"><i class="fa fa-bell icon"></i><p class="card-header-txt">{{recipient[1]}}</p></div> -->
            <div class="card-header"><i class="fa fa-thumbtack icon"></i><p class="card-header-txt">{{recipient[1]}}</p></div>
            <div class="card-body text-primary">
                <p class="card-text">{{recipient[2]}}</p>
                <a href="detailcard" class="btn btn-primary">Seguir leyendo</a>
            </div>
        </div>         
        <!-- </ng-container>      -->
       
    </div>
</div> 
