<!--
    Propiedades de la caja con colores 
border-success 
border-danger
border-warning
border-info
border-light
border-dark
-->

<div class="row">

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <h1>Portal</h1>
                <p class="subtitulo">Proyectos y Desarrollos</p>
            </div>
            <div class="col-sm-12 imagen"></div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 box" *ngFor="let item of listaDeTarjetas | keyvalue">
                <!-- <div  class="card mb-1" style="width: 18rem;max-width: 18rem !important; height:18rem;max-height: 18rem !important;">        -->
                <div  class="card mb-1" style="width: 18rem;max-width: 18rem !important; height:15rem;max-height: 15rem !important;">           
                    <div class="card-header"><i class="fa fa-thumbtack icon"></i></div>
                    <div class="card-body text-primary">
                        <p class="card-header-txt">{{item.value.descripcion.substring(0,50)}}...</p>
                        <p class="card-text">{{item.value.detalle.substring(0,80)}} ...</p>
                        
                    </div>                    
                </div>        
                <div class="card-footer">
                    <a href="detailcard/{{item.value.id}}"><i class="fa fa-eye"></i></a>
                </div>                                 
            </div>
        </div> 
    </div>

</div>
