.card-header {
    color: rgb(236, 31, 31, 0.80);
    font-weight: bold;
    size: 16px;
    text-align: left;    
}
.card-header-txt {
    text-align: center;    
    margin-top: -23px;
    margin-bottom: 0rem; 
}

.card-text{
    color: #17a2b8 !important;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.icon{
    /* color: #45da27d7 !important;  */
    color: #17a2b8;
}