.jumbotron {
    background-color: rgb(255, 255, 255);
    /* color: #7c4254; */
}
.txt-format-0{
    text-align: center;
    text-decoration: underline;
}
.txt-format-1{
    text-align: justify;
    
}
.txt-format-2{
    font-size: 10px !important;
    /* color: #396491; */
}


