<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand title" routerLink="/" routerLinkActive="active">Impripost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link alinear-centrar" routerLink="/dashboard" routerLinkActive="active">Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link alinear-centrar" routerLink="/suggestion" routerLinkActive="active">Sugerencias</a>
            </li>
            
            <!-- Solo para administradores -->
            <li *ngIf="rol=='admin'" class="nav-item">                
                <!-- <a routerLink="/projects" title="Crear proyecto!"><i class="fa fa-tasks atr-proyecto"></i></a>                  -->
                <a href="#addNewProject" class="fa fa-file-powerpoint atr-proyecto" title="Crear proyecto!" data-toggle="modal" (click)="openFormAdd()"></a>
                <a  routerLink="/detailsuggestions" title="Nuevos mensajes"><i class="fa fa-envelope atr-aviso"> ({{totmensajes}})</i></a>                 
            </li>            

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle atr-admin" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs"></i>
                </a>                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="rol!='admin'" class="dropdown-item" routerLink="/login">Ingresar</a>
                    <a class="dropdown-item" routerLink="/dashboard" (click)="salir()">Salir</a>
                 </div>
            </li>     
            
            
            <!-- <li class="nav-item">
                <a class="nav-link alinear-derecha" routerLink="/login" routerLinkActive="active"><i class="fa fa-cogs"></i></a>
            </li> -->
        </ul>
    </div>
</nav>


<!-- Add Modal HTML 
    Formulario para crear un nuevo proyecto...
-->
<div id="addNewProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="modal-header">						
                    <h4 class="modal-title">Crear proyecto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Titulo:</label>
                        <input type="text" class="form-control" formControlName="descripcion" id="descripcion" required>
                    </div>
                    <div class="form-group">
                        <label>Detalle:</label>
                        <textarea class="form-control"  formControlName="detalle" id="detalle" required></textarea>
                    </div>  
                    <hr>  
                    <!-- Calendario -->
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Fecha creación:</label>
                            <div class="input-group">
                                <input class="form-control"  
                                    name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName="fecha_tentativa_inicio" id="fecha_tentativa_inicio" > 
                                <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Fecha finalización:</label>
                            <div class="input-group">
                                <input class="form-control" 
                                    name="dp2"  ngbDatepicker #d2="ngbDatepicker" formControlName="fecha_tentativa_fin" id="fecha_tentativa_fin" >
                                <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <!-- Fin calendario -->                            
                    <hr>      
                    <!-- Usuario y Departamento -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Usuario:</label>
                                <input type="text" class="form-control" formControlName="usuario" id="usuario" required>                                     
                            </div>
                        </div>   
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sector">Departamento:&nbsp;&nbsp; </label><br>
                                <select formControlName="departamento">
                                    <option [value]=item *ngFor="let item of listasecuencial">{{ListDepartment(item)}}</option>
                                </select>
                            </div>
                        </div>                                                                                                                             
                    </div>	
                    <hr> 
                    <!-- Estado -->
                    <div class="row"> 
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label for="stado">Estado:&nbsp;&nbsp; </label><br>
                                <select formControlName="estado_id" value="{{dtl.estado_id}}" [(ngModel)]="dtl.estado_id" >
                                    <option [value]=item *ngFor="let item of listasecuencial">{{ListState(item)}}</option>
                                </select>
                            </div>                                    
                        </div> -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="formControlRange">Progreso {{dtl.porcentaje}} %</label>
                                <input type="range" class="form-control-range"  (input)="onSearchChangeRange($event.target.value)">                                        
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mensajes de exito de transaccion -->
                <div class="alert alert-success" role="alert" id="messagesuccess">
                    Los datos se modificaron con exito!
                </div>                        
                <!-- mensajes de  error de transaccion -->
                <div class="alert alert-danger" role="alert" id="messagerror">
                    UPS! se produjo un error al intentar modificar los datos.
                </div>                        

                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" (click)="cancelar()">
                    <input type="submit" class="btn btn-success" value="Guardar" [disabled]="!form.valid" >
                </div>

            </form>
        </div>
    </div>
</div>
