<br>

<div class="container">
    <div class="jumbotron">

        <h4 class="centrar">Detalle de sugerencias</h4>

        <div class="table-responsive">

            <table class="table table-striped w-auto">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre y apellido</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Sugerencia</th>
                    <th scope="col">Ación</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr *ngFor="let item of listaDeSugerencias | keyvalue | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                         };">                          

                            <th scope="row">{{item.value.proyecto_id}}</th>   
                            <td>{{item.value.usuario}}</td>
                            <td>{{item.value.departamento}}</td>
                            <td>{{item.value.detalle}}</td>

                            <!-- Sugerencia nueva sin leer -->
                            <td *ngIf="item.value.estado_id === 5 ; else changeIcon"><a href="detailsuggestions" class="btn btn-warning" (click)="cambiarestado()"><i class="fa fa-envelope"></i></a></td>

                            <!-- Sugerencias ya leidas -->
                            <ng-template #changeIcon>
                                <td><a href="detailsuggestions" class="btn btn-success"><i class="fa fa-envelope-open"></i></a></td>
                            </ng-template>

                        </tr>                    
                </tbody>
            </table>
            <div class="clearfix">
                <div class="d-flex justify-content-center">
                    <pagination-controls 
                    responsive="true" 
                    previousLabel="Anterior" 
                    nextLabel="Siguiente" 
                    (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
      </div>
  </div>