.jumbotron {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(236, 31, 31);
}
.centrar{
    text-align: center;
    padding-bottom: 30px;
}
.spinner-border{
    position: absolute !important;
    color: rgb(236, 31, 31);
    top:42%;
    left: 50%;
    /* transform: translate(-50%, -50%) !important; */
}