.jumbotron {
    background-color: rgb(203, 206, 203);
    /* color:rgb(236, 31, 31, 0.85); */
    color: rgb(251, 71, 0, 1);
}

h4 {
    text-align: center;
}

.textarea{
    width: 100% !important;
    height: 100% !important;
}

.card-title{
    text-align: center !important;
}

.form-group {
    color: rgb(75, 73, 73);
}