<div class="container">
    <div class="jumbotron my-2">
        
      <app-card></app-card>

      
<!-- 
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Chat boot IA</h5>
                  <p class="card-text">Se trata de un proyecto que se penso con la idea de dar un servicio de chat desantendido.</p>
                  <a href="#" class="btn btn-primary">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo Web Mobile</h5>
                  <p class="card-text">Proyecto para armar un departamento de desarrollo para dispositivos móviles.</p>
                  <a href="#" class="btn btn-primary">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Desarrollo xxx</h5>
                    <p class="card-text">Es simplemente texto de relleno.Es simplemente texto de relleno.Es simplemente texto de relleno.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                  </div>
                </div>
            </div>     

            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Desarrollo xxx</h5>
                    <p class="card-text">Es simplemente texto de relleno.Es simplemente texto de relleno.Es simplemente texto de relleno.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                  </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Desarrollo xxx</h5>
                    <p class="card-text">Es simplemente texto de relleno.Es simplemente texto de relleno.Es simplemente texto de relleno.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                  </div>
                </div>
            </div> 
            
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Desarrollo xxx</h5>
                    <p class="card-text">Es simplemente texto de relleno.Es simplemente texto de relleno.Es simplemente texto de relleno.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                  </div>
                </div>
            </div> 
            
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Desarrollo xxx</h5>
                    <p class="card-text">Es simplemente texto de relleno.Es simplemente texto de relleno.Es simplemente texto de relleno.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                  </div>
                </div>
            </div>             

          </div> -->

    </div>    
</div>

